{% extends 'layout1.html' %}
        {% block deetz %}
            <h1>Andy 'King Andrew' McDonald</h1>
            <p>Gain hands on experience with coding.</p>
            <!--I would suggest choosing a different picture here.-->
            <!--Like maybe a hobby photo-->
            <img src="https://cdn.pixabay.com/photo/2020/09/04/12/32/kayak-5543935_1280.jpg" alt="Headshot of myself">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>About Me</h2>
            <p>
                    I'm a graduated from the University of Utah with a Bachelores in Business Administration. I always
                had ambitions to become a business owner; however, after graduation I found myself in a position where
                I was no better off to be a business owner than when I had started. I was equipeed with many ideas on
                how to support the main function of a business but had no skill to excercise as the primary function. It
                became immediately clear to me that I was not done learning. I had to acquire some new skills
                and fast!

            </p>
            <p>
                    In a move of desperation I started to do business in sectors I had participated in during college
                and most of them were a success but they did not create the success that I knew I was capable of,
                required freqent strenous labor on my part, and were always things I strongly preffered not to do. I was
                inspired by a friend and by the income I've seen on tax returns of clients (one of the sectors I dont
                like) with careers in computer science and I knew that coding was the industry I wanted to be in!
                    As I started learning more I began to understand the power of coding I began to enjoy the journey
                and not just aspire to the destination as I realized that I was gaining the power to create digital
                minions to do my bidding!

            </p>
            <a href="#"><i class="far fa-file"></i>Resume</a>
        {% endblock %}