{% extends 'layout1.html' %}
{% block deetz %}

            <h1>Python Developer</h1>
            <p>Refining the art of creating digital minions to serve my will.</p>
            <img src="https://cdn.pixabay.com/photo/2016/11/29/13/14/attractive-1869761_1280.jpg" alt="Headshot of myself">
        </section>
        <section id="about">
            <h2>About Me</h2>
            <p>
                Success driven person seeking
                knowledge and skills.
            </p>
            <div id="triangle1"></div>
            <div id="triangle2"></div>
        </section>
        <section id="skills">
            <i class="fas fa-laptop-code"></i>
            <h2>Skills</h2>
            <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>SQLAlchemy</li>
                <li>GitHub</li>
                <li>Visual Studio Code</li>
            </ul>
        </section>
        <section id="projects">
            <div id="triangle3"></div>
            <i class="fas fa-file-code"></i>
            <h2>Projects</h2>
            <div id="project-list">

{% for project in jects %}

                <div id="{{project.id}}" class="a-project">
                    <a href='{{url_for("detail", id=project.id)}}'>
                    <h3>{{project.title}}</h3>
                    </a>
                    <a href="{{project.github}}" class="github-btn">
                        <i class="fab fa-github"></i>
                        View on GitHub
                    </a>
                    <p>
                        {{project.description}}
                    </p>
                    <p>
                        {{project.skills}}
                    </p>
                </div>

    {% endfor %}

        <section id="contact">
            <i class="fas fa-paper-plane"></i>
            <h2>Contact Me</h2>
            <p>
                Phone: (801) 680-5784
            </p>

            <p>
                <i class="fas fa-envelope"></i>
                ArMcDonald801@email.com
            </p>

        {% endblock %}

